@import url(utils.css);
@import url(header.css);

:root {
  --imageHeight: 10vw;
  --imageWidth: 10vw;
}

#search_container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}

.form_datos{
}

.form_datos form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_datos p {
  font-variant: small-caps;
  color: var(--fg1);
  margin-bottom: 4px;
  font-size: larger;
}

.form_datos label {
  font-variant: small-caps;
  color: var(--fg1);
  margin-bottom: 4px;
}

.form_datos input,
.form_datos select,
.form_datos button {
  margin-bottom: 2vh;
  background-color: var(--bg2);
  color: var(--fg4);
  font-variant: small-caps;
  border: 0;
  font-size: 16px;
  text-align: center;
}

.form_datos input {
  width: 12vw;
  height: 2vh;
}

.form_datos button,
.form_datos select {
  font-size: 14px;
}

.form_datos input:focus,
.form_datos select:focus,
.form_datos button:focus {
  outline: 2px solid var(--bg4);
}

.form_datos input:hover,
.form_datos select:hover,
.form_datos button:hover {
  background-color: var(--bg3);
}

.album_container {
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 1vh 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: var(--imageHeight);
}

.album {
  margin: 1vw;
  height: var(--imageHeight);
  width: var(--imageWidth);
  position: relative;
  min-height: 80px;
  min-width: 80px;
}

.album span {
  color: var(--fg0);
  font-variant: small-caps;
  padding: 0.25vw;
  position: absolute;
  /* height: 1vw; */
  text-align: center;
  /*  width: calc(var(--imageWidth) - 0.5vw); */
  opacity: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4vh;
}

.album .artistaTitulo {
  font-weight: 700;
  height: calc((var(--imageHeight) * 0.80) - 2*0.25vw);
  width: calc((var(--imageWidth)) - 2*0.25vw);
  bottom: calc((var(--imageHeight) * 0.20));
  /*  bottom: 1.5vw; */
  /*  left: 0; */
  background-color: var(--bg0_s);
  /*   height: 6vw; */
}

.album .año {
  font-weight: 300;
  bottom: 0;
  height: calc((var(--imageHeight) * 0.20) - 2*0.25vw);
  width: calc((var(--imageWidth)) - 2*0.25vw);
  /* right: 0; */
  background-color: var(--bg0_h);
}

.album .imagen {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.album .datos {
  height: var(--imageHeight);
  width: var(--imageWidth);
  min-height: 80px;
  min-width: 80px;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s;
  backdrop-filter: brightness(50%);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album .datos:hover {
  opacity: 1;
}

.album.seleccionado {
  outline: 2px solid var(--fg0);
}

/* POPUP CSS */

.selection_popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  backdrop-filter: brightness(50%);
  align-items: center;
}

.selection_popup {
  background-color: var(--bg1);
  background-image:
    linear-gradient(to top, var(--bg0_s), transparent),
    url(../assets/texture.svg);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 50%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5vh;
}

.selection_popup > * {
  padding: 20px;
}

.selection_popup-container.active {
  display: flex;
  animation: fadeIn 0.3s ease-out;
}

#selection_image {
  min-width: 30vh;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* VALDATION CSS */

.validation_popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.validation_popup .validation_popuptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  width: 12vw;
  background-color: var(--red_fg);
  color: var(--fg1);
  border: 2px solid var(--red_bg);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
}

.validation_popup .validation_popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--red_fg) transparent transparent transparent;
}

.validation_popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2s;
  animation: fadeIn 0.5s, fadeOut 0.5s 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}